torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
accelerate==0.30.1
diffusers==0.29.2
peft==0.8.2
xformers==0.0.23.post1
matplotlib==3.7
tensorboard
scikit-image==0.21.0
timm==0.6.7
transformers==4.37.0
deepspeed==0.14.4
open_clip_torch==2.22.0
opencv-python
gpustat
tqdm
ipdb
kornia
einops
omegaconf
lpips
easydict
ninja
scipy
av
openmim